<div class='nav-bar-container'>
  <div class='nav-bar-inner-container'>
    <LinkTo @route='index'>
      Trivia App
    </LinkTo>
    <button class='sign-out' type="button">Sign Out</button>
  </div>
</div>