{{page-title 'Home'}}

<div class='index-container'>
  <h2>Welcome to the Trivia App!</h2>
  <span>
    Select below the amount of questions and question difficulty and press start
    to play
  </span>
  <TriviaForm />
</div>