.title {
    font-size: 2rem;
}

.form-input-text {
    margin-bottom: 1rem;
    font-size: larger;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
}

.form-button {
    background-color: #e0fbfc;
    font-size: larger;
    font-family: sans-serif;
    border-radius: 5px;
    border-style: none;
    padding: 10px 20px;

    &:hover {
        background-color: #ee6c4d;
        cursor: pointer;
    }
}