@import './variables';

.todo-form {
    display: flex;
    justify-content: center;

    input {
        font-size: large;
        padding: 1rem;
        border-radius: 10px;
        width: 50%;
        margin-right: 0.5rem;
    }

    button {
        background-color: $cyan-ground;
        font-size: large;
        padding: 1rem 1.5rem;
        border-radius: 10px;

        &:hover {
            cursor: pointer;
            background-color: $cyan-hover;
        }
    }
}