@import './application';
@import './variables';
@import './nav-bar';
@import './index';
@import './trivia-form';
@import './trivia-game-question';
@import './results';

html, body {
    margin: 0;
    background-color: $black-ground;
    font-family: 'Inter', sans-serif    ;
}